# sha1 of the gold commit
# Note: update only when absolutely necessary
GOLD_COMMIT=aca398c6924df3eb7c01907e2938483242e5ee1c

# aca398c6924df3eb7c01907e2938483242e5ee1c - fixed bug in common_hdf5
# 6d0b571fef22a8a87bb3ee12a53d771fc63e6d2c – new gold_test.sh script and major change in configuration on Jenkins
# 74978ace728553380b355791e33d8e7c25586869 – changed arr_dim to speed up this gold test
# 9a94fca07452ba7f5ba8bc8d55e6a33ee722abb5 - [initcosmicrays] gamma_crn changed to general gamma_cr for non-spectral CR components
# 493ab7eefcd49d9c90ec7d9390fbd83113666735 - [IO/hdf5,units] use cr_names to construct CR secondaries dataset names
# 5da7612f0580a45f8be4e9940c8a96ed7bcf456b - fix the problem of broken spectrum by disallowing the manual transfer between bins & by optimization of default parameters for the spectral index
# abe22150a161161778bbb965bab9bbf5a26e5bd9 - fix dx to not be larger than x in jac_fin_diff function
# 5ebe693e8d00b0135f00899da95302706b1846ac - gold set up but throws an FPE on some configs
# aa11a777e560bec373c9ac9a84b8061d9158712a - should work when run manually

# name of the problem to be compiled
PROBLEM_NAME=mcrtest/mcrtest_cresp

# options for setup call
SETUP_PARAMS="--param problem.par.gold"

# options for running gold test
GOLD_PARAMS=""

# which file to compare
OUTPUT=mcr_CRESP-gold_tst_0001.h5

# number of MPI threads
NTHR=1
