# sha1 of the gold commit
# Note: update only when absolutely necessary
GOLD_COMMIT=5ebe693e8d00b0135f00899da95302706b1846ac

# aa11a777e560bec373c9ac9a84b8061d9158712a - should work when run manually

# name of the problem to be compiled
PROBLEM_NAME=mcrtest/mcrtest_cresp

# options for setup call
# Cannot rely on --linkexe here as long as we rely on revisions that don't have e2cc4da91b37238bf61cb86f258f4a0e4a1abd6a in ancestors
SETUP_PARAMS="--param problem.par.gold-last"

# options for running gold test
GOLD_PARAMS=""

# which file to compare
OUTPUT=mcr_CRESP-gold_tst_0001.h5

# number of MPI threads
NTHR=1
