# sha1 of the gold commit
# Note: update only when absolutely necessary
GOLD_COMMIT=aca398c6924df3eb7c01907e2938483242e5ee1c

# aca398c6924df3eb7c01907e2938483242e5ee1c - fixed bug in common_hdf5
# 6d0b571fef22a8a87bb3ee12a53d771fc63e6d2c – new gold_test.sh script and major change in configuration on Jenkins
# 928d187f3345518a92ded7b12cddcd595fb7e10e – renamed problem.par.build2 to problem.par.gold
# 9a94fca07452ba7f5ba8bc8d55e6a33ee722abb5 - [initcosmicrays] gamma_crn changed to general gamma_cr for non-spectral CR components
# 2764915a703cbaad745a8a560ce07539054df323 - [cr_data,sourcecosmicrays] using consistent unit set for spallation and decay
# 7156ae893819502f11ff77aaa949b6f6775d93cf - [cr_data] to not break units consistency tau_Be10 needs to be multiplied by Myr
# 56c9c85230a656fe0d5e83ac76b611c71aa4545d - [data_hdf5] bugfix: datafields for CR components mistaken
# 493ab7eefcd49d9c90ec7d9390fbd83113666735 - [IO/hdf5,units] use cr_names to construct CR secondaries dataset names
# 13ad465916cacb7876d0995c948dea9b7f0688d0 - autodetection of mpi_f08
# 1044504830059279ddf543fe03178e283e9255d0 - [IO/hdf5,units] extend range for CR dataset to cr01:cr99
# 0e1c88fdff6404f6bc1bedbfea6a5a37c52db64d - [mcrtest] fix loop for the periodic bnds mantle (+ # 077b21642c59bc4346f8ccea33aa008103b475c6 - stop treating explosions as in periodic domain for other bnds)
# 799877d5cc8594a75e1452071ade3c96f46688e2 - [sources] collect changes from all sources once and limit ecr after doing sources
# 2d84935c0665426247309775c20d722fd5db5f95 - 64-bit plotfiles for gold configs
# a814eac4c121262092a72a53b7378e00a1ac95e4 - more restrictive norm_tol for CR diffusion
# 8fcf05bbd76c9162eb1999d620b59dd0966e0f8e - several fixups needed for Jenkins on Fedora 24
# c21d1c15102bd2372d1006d89937a5748449403f - gdf_distance relies on GDF 1.1 (output v. 2.01)
# 0a46fa37a611365da5d84323d82b82ee38b23f7e r7683 - first non failing revision (cause unrelated to this test)
# r7647 - Changed default prolongation to direct cubic (3rd order)
# r7154 - use PSM unit set
# r7152 - use standard mcrtest problem to this validation with problem.par.build2
# r6656 - CRs source and pressure gradient given by u (instead of u1)
# r6577 - up till now, ''decr'' was added to ''ecrX'', and ''grad_pcr'' was calculated using '''modified''' fluid state. That's only a partial fix as CR source terms still use '''wrong''' fluid state (''u1'' instead of ''u'')
# r6568 - fixing CR source term in rtvd for 2D/3D (unclear if this fix is valid)
# r6533 - shuffled constants a bit, negligible change in one cell
# r6162 - grad_pcr and u(iarr_crs) update for all CR species
# r6014 - bugfix
# r5485 - after fixing ICEs with INTEL compiler
# r5345 - due to decrease of level_max from 2 to 3 in problem.par
# r4917 - due to multiplying by curl%idl instead of division by curl%dl in multigrid_diffusion
# r4586 - due to critical change in bnd_emf

# name of the problem to be compiled
PROBLEM_NAME=mcrtest

# options for setup call
SETUP_PARAMS="--param problem.par.gold"

# options for running gold test
GOLD_PARAMS=""

# which file to compare
OUTPUT=mcr_tst_0020.h5
