# sha1 of the gold commit
# Note: update only when absolutely necessary
GOLD_COMMIT=aca398c6924df3eb7c01907e2938483242e5ee1c

# aca398c6924df3eb7c01907e2938483242e5ee1c - fixed bug in common_hdf5
# 6d0b571fef22a8a87bb3ee12a53d771fc63e6d2c – new gold_test.sh script and major change in configuration on Jenkins
# 9a94fca07452ba7f5ba8bc8d55e6a33ee722abb5 - [initcosmicrays] gamma_crn changed to general gamma_cr for non-spectral CR components
# 2764915a703cbaad745a8a560ce07539054df323 - [cr_data,sourcecosmicrays] using consistent unit set for spallation and decay
# 7156ae893819502f11ff77aaa949b6f6775d93cf - [cr_data] to not break units consistency tau_Be10 needs to be multiplied by Myr
# 56c9c85230a656fe0d5e83ac76b611c71aa4545d - [data_hdf5] bugfix: datafields for CR components mistaken
# 493ab7eefcd49d9c90ec7d9390fbd83113666735 - [IO/hdf5,units] use cr_names to construct CR secondaries dataset names
# 13ad465916cacb7876d0995c948dea9b7f0688d0 - autodetection of mpi_f08
# 1044504830059279ddf543fe03178e283e9255d0 - [IO/hdf5,units] extend range for CR dataset to cr01:cr99
# d32318380141a6be987a8155a4c80c7b5eb9b323 - [mcrwind] set default initial single SN amplitude to 10^51 erg
# fc4dd27fc3c1a55f8d917290f60a112328e46a44 - [snsources] r_sn should be scaled in pc while amp_(e)cr_sn is scaled in ethu
# 0093dc8220e96ebfe76399749c8ec80f9b990f99 - timestep retry now should not have side-effects (except for self-gravity)
# 2c29dfd2614450938c1ca8518441513fa9abcfba - changed timestep reduction when retrying a timestep
# 799877d5cc8594a75e1452071ade3c96f46688e2 - [sources] collect changes from all sources once and limit ecr after doing sources
# e08c628a46b5b6245df9dde0c64153c522d45084 - random_utils for seed control and reproducible random numbers
# 2d84935c0665426247309775c20d722fd5db5f95 - 64-bit plotfiles for gold configs
# e3ab64f5a94c7ee289e622078d98f5bc41eeb5ca - unifying and optimizing cr_sn procedures
# 8fcf05bbd76c9162eb1999d620b59dd0966e0f8e - several fixups needed for Jenkins on Fedora 24
# b39c890f49f76f59d8115b255581d5e04c7e4645 - Merge pull request #173 from gawrysz/IO_naming_fix: removed adding "final" to the output filename
# c21d1c15102bd2372d1006d89937a5748449403f - gdf_distance relies on GDF 1.1 (output v. 2.01)
# 06ea0b29fbfbd569a9f5acd70370ac74574a60ae - Merge pull request #93 from woolt/bnd_fix (fixed in a20b91dcd352a860e020d025be3f0895e2f58301)
# r7854 - removed explicit setting of level_depth from problem.par files
# r7711 - fixed dirty value propagation with some boundary conditions
# r7684 - minor fixes in MG
# r7649 - bumped due to reasons unrelated to this test
# r7647 - Changed default prolongation to direct cubic (3rd order)
# r7338 - Better treatment of corners
# r7169 - use different potential
# r7001 - cell centers are now calculated using slightly different formula (starting from blocks' physical edge instead of domain's edge)
# r6656 - CRs source and pressure gradient given by u (instead of u1)
# r6577 - up till now, ''decr'' was added to ''ecrX'', and ''grad_pcr'' was calculated using '''modified''' fluid state.
#         That's only a partial fix as CR source terms still use '''wrong''' fluid state (''u1'' instead of ''u'')
# r6568 - fixing CR source term in rtvd for 2D/3D (unclear if this fix is valid)
# r6548 - changing order of operations in loops (differences of the order of 10^-11)
# r6162 - grad_pcr and u(iarr_crs) update for all CR species
# r6014 - bugfix
# r5485 - after fixing ICEs with INTEL compiler
# r5345 - due to decrease of level_max from 2 to 3 in problem.par
# r4917 - due to multiplying by curl%idl instead of division by curl%dl in multigrid_diffusion
# r4586 - due to critical change in bnd_emf

# name of the problem to be compiled
PROBLEM_NAME=mcrwind

# options for setup call
SETUP_PARAMS="--param problem.par.gold"

# options for running gold test
GOLD_PARAMS=""

# which file to compare
OUTPUT=crwind_tst_0001.h5

# number of MPI threads
NTHR=4
