# sha1 of the gold commit
# Note: update only when absolutely necessary
GOLD_COMMIT=27e21790dd1ae3959ddf9d7ad283feae6561b15e

# 27e21790dd1ae3959ddf9d7ad283feae6561b15e -  [solve_cg_rieman] care_for_positives should operate with arrays after the update: u1 and b1
# ccbcc225480734a626f1d0abbf1b4acc2b3c0b7f - changed the default method of computing ch_speed
# 6d0b571fef22a8a87bb3ee12a53d771fc63e6d2c – new gold_test.sh script and major change in configuration on Jenkins
# f7d819e8779e57651509407436770430e0b1e786 - cheaper 2D MHD AMR gold test
# f1b40e2f4bd326a12eed42b3865d598cd949fcb2 - new problem.par for gold tests
# 13ad465916cacb7876d0995c948dea9b7f0688d0 - autodetection of mpi_f08
# 9eebf97b6bd0e0e23b39f4179baf355320d4f000 - introduced linear prolongation for u(:,:,:,:)

# name of the problem to be compiled
PROBLEM_NAME=sedov/MHD_blast_wave

# options for setup call
SETUP_PARAMS="--param problem.par.gold_2D"

# options for running gold test
GOLD_PARAMS=""

# which file to compare
OUTPUT=sedov_t2A_0002.h5

# number of MPI threads
NTHR=4
