# sha1 of the gold commit
# Note: update only when absolutely necessary
GOLD_COMMIT=f7d819e8779e57651509407436770430e0b1e786

# f7d819e8779e57651509407436770430e0b1e786 - cheaper 2D MHD AMR gold test
# f1b40e2f4bd326a12eed42b3865d598cd949fcb2 - new problem.par for gold tests
# 13ad465916cacb7876d0995c948dea9b7f0688d0 - autodetection of mpi_f08
# 9eebf97b6bd0e0e23b39f4179baf355320d4f000 - introduced linear prolongation for u(:,:,:,:)

# name of the problem to be compiled
PROBLEM_NAME=sedov/MHD_blast_wave

# options for setup call
# Cannot rely on --linkexe here as long as we rely on revisions that don't have e2cc4da91b37238bf61cb86f258f4a0e4a1abd6a in ancestors
SETUP_PARAMS="--param problem.par.gold_2D"

# options for running gold test
GOLD_PARAMS=""

# which file to compare
OUTPUT=sedov_t2A_0002.h5

# number of MPI threads
NTHR=4
