# sha1 of the gold commit
# Note: update only when absolutely necessary
GOLD_COMMIT=aca398c6924df3eb7c01907e2938483242e5ee1c

# aca398c6924df3eb7c01907e2938483242e5ee1c - fixed bug in common_hdf5
# 6d0b571fef22a8a87bb3ee12a53d771fc63e6d2c – new gold_test.sh script and major change in configuration on Jenkins
# 13ad465916cacb7876d0995c948dea9b7f0688d0 - autodetection of mpi_f08
# f92656c192ef24606a7b5a939fd085229fe208a1 - compute current eta to determine dt_eta; from now timestep_resist calls compute_resist
# 2d84935c0665426247309775c20d722fd5db5f95 - 64-bit plotfiles for gold configs
# 8fcf05bbd76c9162eb1999d620b59dd0966e0f8e - several fixups needed for Jenkins on Fedora 24
# b39c890f49f76f59d8115b255581d5e04c7e4645 - Merge pull request #173 from gawrysz/IO_naming_fix: removed adding "final" to the output filename
# c21d1c15102bd2372d1006d89937a5748449403f - gdf_distance relies on GDF 1.1 (output v. 2.01)
# 1a944b96f840531f51dc638a302da42666841369 r7815 - h5 files are now in single precision
# r5880 - change due to dbl() -> real(,kind=8) conversion, differences at the round-off error level
# r4643 - change due to unnecessary dt=0 step
# r4476 - initial revision

# name of the problem to be compiled
PROBLEM_NAME=tearing

# options for setup call
SETUP_PARAMS="--param problem.par.gold"

# options for running gold test
GOLD_PARAMS=""

# which file to compare
OUTPUT=tearing_tst_0001.h5
