# sha1 of the gold commit
# Note: update only when absolutely necessary
GOLD_COMMIT=a4bf096f9417db67f7540474b52a07bbdc8b6b54

# a4bf096f9417db67f7540474b52a07bbdc8b6b54 - introduction of the test

# name of the problem to be compiled
PROBLEM_NAME=therm_inst

# options for setup call
SETUP_PARAMS="--param problem.par.build"

# options for running gold test
#GOLD_PARAMS="-n '&OUTPUT_CONTROL run_id=\"gld\" '"
GOLD_PARAMS=""

# which file to compare
OUTPUT=thermal_jen_0001.h5
