# sha1 of the gold commit
# Note: update only when absolutely necessary
GOLD_COMMIT=8e956d23aa9632957f887223df7ead55e2265a22
#bed02e5c8ec42429d5a3ff190057d1f42069695f

# name of the problem to be compiled
PROBLEM_NAME=therm_inst

# options for setup call
SETUP_PARAMS="--param problem.par.build"

# options for running gold test
#GOLD_PARAMS="-n '&OUTPUT_CONTROL run_id=\"gld\" '"
GOLD_PARAMS=""

# which file to compare
OUTPUT=thermal_jen_0001.h5
